node-red/MailTempAlarm.json
[{"id":"57f3eb38.150074","type":"function","z":"99dc71ba.2736b","name":"ALARM_CHECK","func":"temp = msg.payload.temperature\nvar flow_temp = flow.get('flow_temp') || 0;\n\nalarm_threshold = 40\n\n\nmsg_mail = \"\"\nmsg_alert_flag = { payload : \"false\"}\n\n// Check Temps\nif (temp > alarm_threshold)\n{\n    msg_alert_flag = { payload : \"true\"}\n}\n\nflow.set('flow_temp', temp)\n\nreturn [msg_alert_flag, msg_mail];     \n\n//return msg;","outputs":2,"noerr":0,"x":730,"y":520,"wires":[["6cbb447f.d2322c"],[]]},{"id":"fcb9d065.2fa2","type":"e-mail","z":"99dc71ba.2736b","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Send Mail From GMail (jrhg82)","x":1430,"y":440,"wires":[]},{"id":"d015dbe.fd2a528","type":"debug","z":"99dc71ba.2736b","name":"Mail_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1360,"y":500,"wires":[]},{"id":"5e2546fb.d5d1d8","type":"function","z":"99dc71ba.2736b","name":"VALUES_LCD","func":"temp = msg.payload.temperature\n//temp = msg.payload\n\nalarm_threshold = 40\n\nclear_LCD = \"*,*,0,0,0\"\nHOT_LCD = \"*,*,255,0,0\"\n\nmsg.payload = clear_LCD\nmsg.color = \"white\"\nmsg.background = \"black\"\nmsg.speed = 3\nmsg.angle = 0\nmsg.payload = temp.toString() + \" C \"\n    \n// Check Temps\nif (temp > alarm_threshold)\n{\n    msg.background = \"red\"\n}\n\n//\n// text color red if going up, blue otherwise\nvar last_temp= flow.get('last_temp') || 0;\nif (last_temp !== null)\n{\n    if (last_temp > temp)\n        msg.color = \"blue\"\n    else\n        msg.color = \"yellow\"\n}\n\nreturn msg;    \n","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["b4780e96.a414a","c89d0fbd.498be"]]},{"id":"6cbb447f.d2322c","type":"rbe","z":"99dc71ba.2736b","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":910,"y":500,"wires":[["e910a79.0f92458","f1c53d27.ecbf2"]]},{"id":"e910a79.0f92458","type":"debug","z":"99dc71ba.2736b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":400,"wires":[]},{"id":"f1c53d27.ecbf2","type":"function","z":"99dc71ba.2736b","name":"Compose Alert Mail","func":"Flag_alert = msg.payload\nvar temp = flow.get('flow_temp') || 0;\n\nmsg_mail = \"\"\n\n\n// Check Temps\nif (Flag_alert === \"true\")\n{\n    msg_mail = { \n        payload:\"Temp Alarm: \" + temp + \" ºC @ \" + Date().toString(),\n        topic :  \"Alert, Meji is HOT!\",\n        to : \"jrhg82@hotmail.com\"\n    }\n}\nelse\n{\n    // Recovery\n    \n        msg_mail = { \n        payload:\"Temp Alarm: \" + temp + \" ºC @ \" + Date().toString(),\n        topic :  \"Alert, Meji is COLD!\",\n        to : \"jrhg82@hotmail.com\"\n    }\n}\n\nreturn msg_mail;  ","outputs":1,"noerr":0,"x":1150,"y":500,"wires":[["d015dbe.fd2a528","fcb9d065.2fa2"]]},{"id":"b4780e96.a414a","type":"rpi-sensehat out","z":"99dc71ba.2736b","name":"","x":1070,"y":240,"wires":[]},{"id":"c89d0fbd.498be","type":"debug","z":"99dc71ba.2736b","name":"LCD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":300,"wires":[]},{"id":"33a9f714.44cab8","type":"debug","z":"99dc71ba.2736b","name":"SmoothedTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","targetType":"msg","x":580,"y":620,"wires":[]},{"id":"927940c6.7bd89","type":"rpi-sensehat in","z":"99dc71ba.2736b","name":"","motion":false,"env":true,"stick":false,"x":140,"y":480,"wires":[["c41dcf6f.d001c"]]},{"id":"c41dcf6f.d001c","type":"smooth","z":"99dc71ba.2736b","name":"","property":"payload.temperature","action":"mean","count":"5","round":"1","mult":"multi","x":360,"y":520,"wires":[["33a9f714.44cab8","f4aa8531.75b108"]]},{"id":"f4aa8531.75b108","type":"rbe","z":"99dc71ba.2736b","name":"","func":"deadbandEq","gap":"0.2","start":"","inout":"out","property":"payload.temperature","x":520,"y":520,"wires":[["84ef7e4c.84499","57f3eb38.150074","5e2546fb.d5d1d8","a31ef966.274868"]]},{"id":"84ef7e4c.84499","type":"debug","z":"99dc71ba.2736b","name":"DEAD_BAND","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":620,"wires":[]},{"id":"a31ef966.274868","type":"function","z":"99dc71ba.2736b","name":"StoreLastValue","func":"temp = msg.payload.temperature\n\nvar last_temp= flow.get('last_temp') || 0;\n\nflow.set('last_temp', temp)\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":220,"wires":[[]]},{"id":"4a2edbaa.ba7a24","type":"rpi-sensehatsim in","z":"99dc71ba.2736b","name":"","motion":false,"env":true,"stick":false,"x":120,"y":560,"wires":[[]]}]