node-red/RpiControlInflux.json
[{"id":"92ac39eb.dcce48","type":"tab","label":"RPI-CONTROL","disabled":false,"info":""},{"id":"35491bf7.dd1114","type":"ui_gauge","z":"92ac39eb.dcce48","name":"","group":"4373c1a2.70eff","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":830,"y":200,"wires":[]},{"id":"7db7eb76.0fad14","type":"exec","z":"92ac39eb.dcce48","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":350,"y":200,"wires":[["d8a7636a.ffb93"],[],[]]},{"id":"d8a7636a.ffb93","type":"function","z":"92ac39eb.dcce48","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["35491bf7.dd1114","4dd0429f.cbdfec","82321b49.376748"]]},{"id":"366aeffe.2c62","type":"ui_button","z":"92ac39eb.dcce48","name":"","group":"28ba38d6.6ff5f8","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":720,"wires":[["cfc39a3f.d3a3b8","6d920f07.5257e"]]},{"id":"6d920f07.5257e","type":"exec","z":"92ac39eb.dcce48","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":318,"y":720,"wires":[[],[],[]]},{"id":"fd81194c.f62788","type":"ui_button","z":"92ac39eb.dcce48","name":"","group":"28ba38d6.6ff5f8","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":780,"wires":[["ffdd82df.9ddbc","774f32f7.a7932c"]]},{"id":"ffdd82df.9ddbc","type":"exec","z":"92ac39eb.dcce48","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":329.5,"y":782.25,"wires":[[],[],[]]},{"id":"4dd0429f.cbdfec","type":"ui_chart","z":"92ac39eb.dcce48","name":"","group":"4373c1a2.70eff","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"c99d80f7.5695c","type":"exec","z":"92ac39eb.dcce48","command":"top -d 1 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print ($8)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU Load","x":350,"y":280,"wires":[["4de5380a.8201f8"],[],[]]},{"id":"f943eefa.23991","type":"exec","z":"92ac39eb.dcce48","command":"free | grep Mem | awk '{print 100*($2-$4)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Used Memory","x":360,"y":360,"wires":[["7df18332.c038bc"],[],[]]},{"id":"e9fc2bb2.5abfa8","type":"ui_gauge","z":"92ac39eb.dcce48","name":"","group":"4373c1a2.70eff","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"% CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":280,"wires":[]},{"id":"310cf044.356de","type":"ui_gauge","z":"92ac39eb.dcce48","name":"","group":"17b144f9.d95f7b","order":1,"width":0,"height":0,"gtype":"gage","title":"UsedMemory","label":"Used RAM (%)","format":"{{value)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":360,"wires":[]},{"id":"f9462843.73f958","type":"exec","z":"92ac39eb.dcce48","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":350,"y":440,"wires":[["9b1d4c2e.ef60f"],[],[]]},{"id":"751e1d7b.3424a4","type":"ui_gauge","z":"92ac39eb.dcce48","name":"","group":"3cf87008.a92ee","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"% Used","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"9b1d4c2e.ef60f","type":"function","z":"92ac39eb.dcce48","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["751e1d7b.3424a4","82321b49.376748"]]},{"id":"58740d6d.95e224","type":"inject","z":"92ac39eb.dcce48","name":"Loop_15_minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":"","x":90,"y":120,"wires":[["f9462843.73f958","f943eefa.23991","c99d80f7.5695c","7db7eb76.0fad14"]]},{"id":"f4608fd3.117c","type":"influxdb out","z":"92ac39eb.dcce48","influxdb":"fc76c02.f7cfc4","name":"","measurement":"cpu","precision":"","retentionPolicy":"","x":1300,"y":100,"wires":[]},{"id":"7df18332.c038bc","type":"function","z":"92ac39eb.dcce48","name":"","func":"msg.payload = Math.round(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["310cf044.356de","82321b49.376748"]]},{"id":"1eadea50.ae86c6","type":"rpi-sensehat out","z":"92ac39eb.dcce48","name":"","x":510,"y":720,"wires":[]},{"id":"cfc39a3f.d3a3b8","type":"function","z":"92ac39eb.dcce48","name":"","func":"msg.payload = \"Rebooting...\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["1eadea50.ae86c6"]]},{"id":"774f32f7.a7932c","type":"function","z":"92ac39eb.dcce48","name":"","func":"msg.payload = \"Sht.Down...\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":840,"wires":[["1eadea50.ae86c6"]]},{"id":"4de5380a.8201f8","type":"function","z":"92ac39eb.dcce48","name":"","func":"str = msg.payload\nstr = str.replace(\",\", \".\")\n\nmsg.payload = 100.0 - parseFloat(str)  // 100 - IDLE_percentage\nmsg.payload = Math.round(msg.payload*10)/10\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["e9fc2bb2.5abfa8","82321b49.376748"]]},{"id":"82321b49.376748","type":"join","z":"92ac39eb.dcce48","name":"Create Record","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":840,"y":100,"wires":[["36501ae7.291776"]]},{"id":"36501ae7.291776","type":"function","z":"92ac39eb.dcce48","name":"CPU FIELDS","func":"msg.payload = {\n    Ram_Used   : msg.payload[0],\n    Disk_Used  : msg.payload[1],\n    Temperature: msg.payload[2],\n    Cpu_Load   : msg.payload[3]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":100,"wires":[["26ac3d9d.239312","f4608fd3.117c"]]},{"id":"26ac3d9d.239312","type":"debug","z":"92ac39eb.dcce48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":160,"wires":[]},{"id":"4373c1a2.70eff","type":"ui_group","z":"","name":"Col1","tab":"f23821b2.efc9a","order":1,"disp":false,"width":"6"},{"id":"28ba38d6.6ff5f8","type":"ui_group","z":"","name":"Actions","tab":"f23821b2.efc9a","order":4,"disp":true,"width":"6"},{"id":"17b144f9.d95f7b","type":"ui_group","z":"","name":"Col2","tab":"f23821b2.efc9a","order":2,"disp":false,"width":"6","collapse":false},{"id":"3cf87008.a92ee","type":"ui_group","z":"","name":"Col3","tab":"f23821b2.efc9a","order":3,"disp":false,"width":"6"},{"id":"fc76c02.f7cfc4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"db_cpu","name":"","usetls":false,"tls":""},{"id":"f23821b2.efc9a","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1}]